.apply-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: -10px;

  gap: 960px;

  width: 1430px;
  height: 80px;
}

.apply-header > div {
  display: flex;
  flex-direction: column;
}

.apply-title {
  font-family: 'Anek Bangla';
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #355867;
  margin: 0;
}

.apply-subtitle {
  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #8FADB8;
  margin: 0;
  position: relative;
  left: 55px;
}


.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 90px;

  padding: 5px 10px;

  width: 187px;              
  height: 47px;

  background: #355867;
  opacity: 0.9;
  border-radius: 10px;

  color: #ffffff;
  font-family: 'Anek Bangla';
  font-size: 20px;           
  line-height: 37px;         

  border: none;
  cursor: pointer;
}
.apply-grid {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 33px 24px;

  position: relative;
  left: 55px;
  top: -20px;
  height: 820px; 

  width: 812px;

  background: rgba(255, 255, 255, 0.8);

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.info-box {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  max-width: 764px;
  height: 69px;

  background: rgba(53, 88, 103, 0.15);
  border: 1px solid rgba(79, 110, 120, 0.45);
  border-radius: 10px;

  display: flex;
  align-items: center;

  padding-left: 25px;
  gap: 10px;
}
.info-icon {
  position: absolute;

  width: 24px;
  height: 24px;

  left: 25px;
  top: 21px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: rgba(53, 88, 103, 0.15);
  color: #106f97;
  font-size: 14px;
}
.info-box p {
  margin: 0;
  margin-left: 35px;

  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 26px;

  color: #002D40;
}
.section {
  width: 100%;
  max-width: 764px;
  margin-top: 20px;
}
.section-title {
  box-sizing: border-box;

  width: 100%;
  height: 48px;

  border-bottom: 1px solid #C3BEBE;

  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #4F6E78;

  display: flex;
  align-items: center;

  padding-left: 0;
  margin: 0;
}
.form-group {
  width: 100%;
  max-width: 764px;
  margin-top: 15px;
  box-sizing: border-box;
}
.form-group label {
  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 26px;
  text-align: left;

  color: #002D40;

  display: block;
  margin-bottom: 5px;
}
.input {
  box-sizing: border-box;

  width: 100%;
  height: 40px;

  border: 1px solid rgba(0, 96, 136, 0.55);
  border-radius: 5px;

  padding: 5px 10px;

  font-family: 'Anek Bangla';
  font-size: 16px;

  color: #002D40;

  background: #ffffff;
}
.row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 67px;

  width: 787px;

  margin-top: 15px;
}

.row .form-group {
  display: flex;
  flex-direction: column;

  width: 360px;
  max-width: 360px;

  margin-top: 0;
}
.row .form-group .input {
  width: 336px;
  height: 40px;

  box-sizing: border-box;
}
.date-row .date-wrapper {
  position: relative;
  left: 1px;
}
.form-group label {
  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 26px;

  color: #002D40;

  display: block;
  margin-bottom: 5px;
}
.input.disabled {
  background: rgba(154, 154, 154, 0.15);
  border: none;

  height: 40px;

  padding: 5px 10px;

  border-radius: 5px;

  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #4F6E78;
}
.row .form-group:nth-child(2) .input.disabled {
  background: rgba(197, 206, 211, 0.5);

  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #355867
}
input:disabled {
  -webkit-text-fill-color: inherit; 
  opacity: 1;                        
}
.apply-left .row .form-group:nth-child(2) input.input.disabled {
  background: rgba(197, 206, 211, 0.5);
  color: #355867;
}
.form-group label {
  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  color: #002D40;

  display: block;
  margin-bottom: 5px;
}
.textarea {
  box-sizing: border-box;

  width: 767px;
  height: 87px;

  background: rgba(255, 255, 255, 0.38);
  border: 1.5px solid rgba(0, 45, 64, 0.41);
  border-radius: 5px;

  padding: 12px;

  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 26px;

  color: #002D40;

  resize: none; 
  outline: none;
}
.textarea::placeholder {
  color: #707070;
}
.upload-box {
  box-sizing: border-box;

  width: 767px;
  height: 90px;

  background: rgba(255, 255, 255, 0.38);
  border: 1.5px dashed rgba(0, 45, 64, 0.73);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 5px;
  text-align: center;
}
.upload-content p {
  font-family: 'Anek Bangla';
  font-size: 16px;
  line-height: 26px;

  color: #707070;

  margin: 0;
}

.upload-content small {
  font-family: 'Anek Bangla';
  font-size: 14px;

  color: #707070;
}
.form-actions {
  display: flex;
  position: relative;
  top: 20px;
  left: -35px;
  flex-direction: row;
  align-items: flex-start;

  padding: 12px;
  gap: 370px;

  width: 100%;          
  margin-top: 20px;    

  border-radius: 10px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 10px;

  width: 274px;
  height: 47px;

  background: #355867;
  opacity: 0.9;
  border-radius: 10px;

  border: none;
  cursor: pointer;

  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 20px;
  line-height: 37px;
  letter-spacing: 0.02em;

  color: #FFFFFF;
}
.cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 10px 5px;

  width: 169px;
  height: 47px;

  background: rgba(255, 255, 255, 0.7);
  opacity: 0.9;

  border: 1px solid rgba(112, 112, 112, 0.5);
  border-radius: 10px;

  cursor: pointer;

  font-family: 'Anek Bangla';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #5C5C5C;
}
.apply-right {
  position: absolute;
  left: 947px;
  top: 1px;
  gap: 60px;

  width: 501px;
  height: 731px;

  display: flex;
  flex-direction: column;
}
.card {
  width: 100%;

  padding: 16px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.card-title {
  font-family: 'Anek Bangla';
  font-size: 16px;
  color: #4F6E78;

  margin-bottom: 15px;
}
.progress-item {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;

  border-bottom: 1px solid #C3BEBE;
}
.progress-item span {
  font-family: 'Anek Bangla';
  font-size: 13px;
  color: #4F6E78;
}

.progress-item span:first-child {
  float: left;
}

.progress-item span:last-child {
  float: right;
}
.progress-bar {
  height: 100%;
  border-radius: 10px;
  transition: width 0.3s ease;
}
.progress-bar.red {
  background: #E12528;
}

.progress-bar.blue {
  background: #4F6E78;
}

.progress-bar.grey {
  background: #E5E5E5;
}
.progress-row {
  display: flex;
  justify-content: space-between;
  align-items: left;

  width: 100%;
}
.policy-card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 33px 12px 33px 19px;
  gap: 12px;

  width: 501px;
  height: 336px;

  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.policy-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.policy-list li {
  position: relative;

  padding: 10px 10px 10px 25px;

  font-family: 'Anek Bangla';
  font-size: 13px;
  line-height: 26px;

  color: #4F6E78;

  border-bottom: 1px solid #C3BEBE;

  text-align: left;
}
.policy-list li::before {
  content: "";

  position: absolute;
  left: 8px;
  top: 19px;

  width: 6px;
  height: 6px;

  border-radius: 50%;
  background: #4F6E78;
}
.progress-item {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  padding-bottom: 14px;
  margin-bottom: 14px;

  border-bottom: 1px solid #c3bebe;
}

.progress-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  font-family: "Anek Bangla";
  font-size: 13px;
  color: #4f6e78;
}

.progress-track {
  width: 100%;
  height: 6px;

  background: #e5e5e5;
  border-radius: 10px;

  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;

  transition: width 0.3s ease;
}

.progress-bar.red {
  background: #e12528;
}

.progress-bar.blue {
  background: #4f6e78;
}

.progress-bar.grey {
  background: #bdbdbd;
}
.progress-bar.orange {
  background: #f59e0b;
}
select.input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url("/public/images/arrow_drop_down_circle.png") no-repeat right 10px center;

  background-size: 20px 20px;

  padding-right: 40px;
}
.date-wrapper {
  position: relative;

  width: 336px;
}

.date-input {
  width: 100%;
  height: 40px;

  box-sizing: border-box;

  position: relative;
  z-index: 2;

  color: #002D40;

  font-family: 'Anek Bangla';
  font-size: 16px;

  padding-right: 45px;
  padding-left: 12px;

  background: transparent;
}
.calendar-icon {
  position: absolute;

  right: 5px;
  top: 50%;

  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  pointer-events: none;
}
.upload-content {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  text-align: center;

  padding-top: 30px;
}
.upload-icon {
  width: 24px;
  height: 24px;

  position: relative;
  left: 50%;
  margin-top: 300px;
  margin-bottom: 80px;
  bottom: 50px;
}
.date-row {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 67px;

  width: 787px;

  margin-top: 15px;
}
.formatted-date {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  font-family: 'Anek Bangla';
  font-size: 16px;

  color: #002D40;

  pointer-events: none;

  z-index: 1;
}