/* Error messages below inputs */
.error-texts {
  color: red;
  font-size: 0.9em;
  line-height: 1rem; /* ensures the height of the text */
  min-height: 1rem;
  display: block; /* makes it take full width below input */
  margin-top: -25px; /* small space below input */
  text-align: left; /* align text to the left */
}

/* Dropdown icon styling */
.apm-dropdown-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  width: 20px;
  height: 20px;
}
.move-users-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* space between dropdown row and button */
  margin-top: 40px;
  padding-left: 35px;
  margin-bottom: 10px;
}

.move-users-row {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  gap: 70px;
  flex-wrap: nowrap;
}

.move-users-label {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap; /* prevents label from wrapping */
}

.apm-dropdown-wrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* spacing between select and image */
  max-width: 250px;
  flex-shrink: 0;
}

.apm-dropdown-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.save-position-button {
  background-color: #668c4d;
  color: white;
  padding: 10px 65px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 700;
  margin-left: 790px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; /* prevent button text from wrapping */
}

.save-position-button:hover {
  background-color: #638549;
}
.save-button-wrapper {
  flex-shrink: 0; /* prevents the button from shrinking */
}

.checkbox-cell {
  display: flex;
  align-items: center;
  gap: 12px; /*SAME spacing everywhere */
}

/* Optional: force consistent checkbox size */
.checkbox-cell input[type="checkbox"] {
  appearance: none; /* Remove default styling */
  -webkit-appearance: none; /* Safari */
  width: 16px;
  height: 16px;
  border: 1px solid #dddddd; /* Border color */
  border-radius: 2px; /* Optional: rounded corners */
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: white;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.checkbox-cell input[type="checkbox"]:checked {
  background-color: #355867; /* Blue fill */
  border-color: #a0a0a0;
}
.checkbox-cell input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*Company Management Section*/
/* Wrapper for table to apply rounded borders */
.content-container-table {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1400px;
  padding: 10px;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 15px; /* rounded corners for the container */
  overflow: hidden; /* ensures corners clip content */
  margin-left: 30px;
  background-color: #fff; /* optional, for contrast */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.positions-table {
  table-layout: fixed; /* forces columns to obey widths */
  width: 95%;
  border-collapse: separate; /* allows rounded corners on wrapper */
  border-spacing: 0; /* no spacing between cells */
  table-layout: fixed;
  font-family: "Anek Bangla", sans-serif;
  font-size: 14px;
  margin: 10px;
  margin-left: 30px;
  border-radius: 15px; /* rounded corners for the container */
  overflow: hidden; /* ensures corners clip content */
}

.positions-table th,
.positions-table td {
  padding: 20px 10px;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgb(211, 210, 210); /* only bottom border */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #355867;
  font-size: 16px;
  gap: 35px;
  text-align: left;
}

.positions-table th {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
  gap: 10px;
}

.occupational-description {
  display: inline-block;
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: help; /* shows hover tooltip */
}

/* Table without outer borders, only border-bottom */
.position-table-manage-User {
  width: 95%;
  border-collapse: separate; /* allows rounded corners on wrapper */
  border-spacing: 0; /* no spacing between cells */
  table-layout: fixed;
  font-family: "Anek Bangla", sans-serif;
  font-size: 14px;
  margin: 30px;
}

.position-table-manage-User tr {
  padding: 10px;
}
/* Assuming your wrapper is .nav-bar-with-buttons */
.nav-bar-with-buttons {
  display: flex;
  flex-shrink: 0;
  flex-direction: column; /* stack navbar and button vertically */

  gap: 1rem; /* space between navbar and button */
}

.add-positions-button {
  background-color: #668c4d;
  font-family: "Anek Bangla";
  color: white;
  width: 187px;
  height: 47px;
  justify-content: center;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 2%;
  margin-left: 83%;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

/* Table headers and cells */
.position-table-manage-User th,
.position-table-manage-User td {
  padding: 20px 10px;
  background-color: #f1f1f1;
  border: none;
  border-bottom: 2px solid rgb(211, 210, 210); /* only bottom border */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #355867;
  font-size: 16px;
  gap: 10px;
  text-align: left;
}

/* Table header style */
.position-table-manage-User th {
  background-color: var(--primary-color);
  color: #ffffff;
  font-weight: bold;
}
.positions-table th:nth-child(1),
.positions-table td:nth-child(1) {
  width: 25%;
} /* Position Title */
.positions-table th:nth-child(2),
.positions-table td:nth-child(2) {
  width: 20%;
} /* Position Grade */
.positions-table th:nth-child(3),
.positions-table td:nth-child(3) {
  width: 30%;
} /* Occupational Description */
.positions-table th:nth-child(4),
.positions-table td:nth-child(4) {
  width: 20%;
} /* Effective Date */
.positions-table th:nth-child(5),
.positions-table td:nth-child(5) {
  width: 10%;
} /* Actions */

/* Header styles */

.cmn-header-main-frame {
  width: 100%;
  min-height: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center; /* vertically center items */
  justify-content: space-between; /* push left and right sections to edges */
  padding: 10px 20px;
  gap: 33px;
}

/* Left Section (Logo/Text) */
.cmn-header-left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  height: auto;
  flex-shrink: 0;
}

/* Company Logo Text */
.cmn-logo-text {
  font-family: "Anek Bangla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #006088;
  margin: 0;
  white-space: nowrap;
}

/* Right Section (Icons & Date/Time) */
.cmn-header-right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  height: auto;
  box-sizing: border-box;
  margin-left: auto;
}
.cm-navbar-tab-button--active {
  color: #668c4d;
  padding-bottom: 5px;
}

.nav-bar-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin-top: 20px;
}

/* Date/Time Container */
.cmn-datetime-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 34px;
  box-sizing: border-box;
}

/* Date & Time Grouping */
.cmn-datetime-date-container,
.cmn-datetime-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

/* Shared Box Style */
.cmn-datetime-month,
.cmn-datetime-year,
.cmn-datetime-time {
  background-color: #9c9c9c29;
  border-radius: 6px;
  height: 34px;
  padding: 6px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.43px;
  color: var(--primary-color);
  margin: 0;
  white-space: nowrap;
}

/* ================================ */
/* Change Position Management Modal */
/* ================================ */

/* Fullscreen dark overlay */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Main modal container */
.modal-content-add,
.modal-content-edit,
.modal-content-change {
  width: 640px; /* slightly smaller for neatness */
  height: 800px;
  justify-content: center;
  padding: 90px 40px;
  border-radius: 14px;
  background: linear-gradient(180deg, #f4f4f4 0%, #dcdcdc 100%);
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header alignment */
.headings-container {
  text-align: center;
  margin-left: 70px;
  margin-bottom: 35px;
}

.apm-logo {
  font-size: 28px;
  margin-bottom: 30px;
}

.apm-logo-bold {
  font-weight: 700;
  color: #0e2d36;
}

.apm-logo-light {
  font-weight: 400;
  color: #2e6c8c;
}

.apm-title {
  font-size: 30px;
  font-weight: 600;
  margin-left: 80px;
  color: var(--primary-dark);
  margin-bottom: 30px;
}

.pm-title-add,
.pm-title-edit,
.pm-title-change {
  font-size: 32px;
  font-weight: 700;
  margin-left: 50px;
  color: var(--primary-dark);
}

/* Position label */

.title-placeholder-edit {
  display: block;
  width: 360px; /* same width as input */
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-dark);
  background-color: transparent;
  font-family: "Instrument Sans", sans-serif;
  text-align: left;
}

.title-placeholder-add.inside-input {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none; /* So clicks go to input */
  font-size: 14px;
  white-space: nowrap;
}

.hidden-date-picker {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

/* Fake date input to show placeholder or selected date */
.fake-date-input {
  display: flex;
  padding: 0.5rem 0.5rem;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent;
  cursor: text;
  min-height: 40px;
  width: 100%;
  box-sizing: border-box;
  color: var(--primary-dark);
}

.title-placeholder-change {
  align-self: flex-start;
  font-size: 14px;
  color: #121212;
  margin-left: 106px;
  margin-bottom: 6px;
}

/* Input group styling (dropdown) */
.pm-input-add::placeholder {
  color: black;
  opacity: 1; /* ensures it is not faded in some browsers */
}
.pm-input-add,
.pm-input-change {
  width: 360px;
  height: 33px;
  border: none;
  border-bottom: 1.5px solid #006088;
  border-radius: 4px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: "Instrument Sans", sans-serif;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--primary-dark);
}

.pm-input-edit {
  width: 360px;
  height: 33px;
  border: none;
  margin-top: -100px;
  outline: none;
  background-color: transparent;
  border-bottom: 1.9px solid #006088;
  padding-bottom: 5px;
  color: var(--primary-dark);
  font-size: 15px;
  font-family: "Instrument Sans", sans-serif;
}

.pm-input-group-add,
.pm-input-group-edit {
  width: 360px;
  margin-bottom: 20px;
}

/* Dropdown wrapper */
.pm-dropdown-wrapper-add,
.pm-dropdown-wrapper-edit,
.pm-dropdown-wrapper-change {
  position: relative;
  margin-bottom: 20px;
}

.pm-dropdown-wrapper-add select,
.pm-dropdown-wrapper-edit select,
.pm-dropdown-wrapper-change select {
  width: 360px;
  appearance: none;
  border-radius: 5px;
}

/* Hide the default browser calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.date-picker-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
  z-index: 1;
}
.date-picker-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.date-input-container {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  top: 15%;
}

.formatted-date-inside {
  position: absolute;

  top: 60%;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 15px;
  color: #002d40;
  z-index: 2;
}

/* hide the default yyyy-mm-dd text */
.date-input::-webkit-datetime-edit {
  color: transparent;
}

.apm-input.select-dropdown {
  border-radius: 5px;
  color: #0e2d36;
  width: 360px;
}

.apm-dropdown-icon-new {
  margin-left: -32px;
  width: 18px;
  height: 18px;
  pointer-events: none;
  z-index: 1;
}

/* Info text */
.apm-info-,
.info-text {
  text-align: center;
  font-size: 14px;
  margin-right: 80px;
  margin-top: 15px;
  margin-bottom: 30px;
  color: #002d40;
}
.apm-input.date-input {
  border-radius: 5px;
  color: var(--primary-dark);
}

/* Question text */
.Question {
  align-self: flex-start;
  font-size: 15px;
  margin-bottom: 5px;
  padding-left: 105px;
  color: #002d40;
}

/* Form spacing */
.pm-form {
  width: 100%;
  margin-top: 30px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.pm-form-edit {
  width: 100%;

  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* Checkbox alignment */
.checkbox-cell-position {
  padding-left: 0;
  padding: 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Optional: consistent checkbox style */
.checkbox-cell-position input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #dddddd;
  border-radius: 2px;
  position: relative;
  cursor: pointer;
  outline: none;
  background-color: white;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

.checkbox-cell-position input[type="checkbox"]:checked {
  background-color: #355867;
  border-color: #a0a0a0;
}

.checkbox-cell-position input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 0px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Reserve space for conditional link so container doesn't jump */
.apm-view-users {
  height: 30px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apm-view-users.hide {
  visibility: hidden;
}

.apm-view-users.show {
  visibility: visible;
}

/* Link styling */
.apm-link {
  color: #2e6c8c;
  cursor: pointer;
  font-weight: 400;
  margin-right: 100px;
}

.apm-link:hover {
  text-decoration: none;
}

/* Save button */
.pm-save-button-add {
  font-family: "Instrument Sans", sans-serif;
  width: 360px;
  height: 37px;
  background-color: #355867;
  border: none;
  border-radius: 10px;
  padding: 0 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 25px;
}
.apm-save-button {
  font-family: "Instrument Sans", sans-serif;
  width: 360px;
  height: 37px;
  background-color: #355867;
  border: none;
  border-radius: 10px;
  padding: 0 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: -6px;
}

.apm-save-button:hover {
  background-color: #355867;
}

/* Footer */
.pm-footer {
  margin-top: 40px;
  margin-right: 100px;
  text-align: center;
  font-size: 12px;
  color: #002d40;
}
.pm-footer-edit {
  margin-top: 30px;
  margin-right: 100px;
  text-align: center;
  font-size: 12px;
  color: #002d40;
}
.footer1 {
  margin-top: -10px;
  margin-bottom: 8px;
  font-weight: 10px;
}
