.payroll-nav {
  padding: 12px 0 12px;   
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}


.nav-links {
  display: flex;
  gap: 48px;
  align-items: left;
  justify-content: left; 
  margin-top: -15px;
}

.nav-item {
  text-decoration: none;
  color: #002D40;
  font-family: 'Anek Bangla';
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.nav-item.active {
  color: #638549 !important; /* highlight active tab */
}

.nav-item:hover {
  color: #638549 !important;
}

