/*.table {
  font-family: 'Anek Bangla', sans-serif;
}*/

/* Actions Container*/
.medicalaid-options-actions-container {
    display: flex;
    flex-direction: column;
    font-family: 'Anek Bangla', sans-serif;
}

/* buttons */
.medicalaid-options-borderless-button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding-right: 15%;
    font-family: 'Anek Bangla', sans-serif;
}

.medicalaid-menu-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    padding: 26px 20px 20px 20px;
    border-top-left-radius: var(--border-radius-medium);
    border-bottom-left-radius: var(--border-radius-medium);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(135deg,
    var(--background-light) 0%,
    var(--background-light-alt) 25%,
    var(--background-light-alt-2) 50%,
    var(--background-light-alt-3) 75%,
    var(--background-light-alt-4) 100%);
    background: rgba(0, 0, 0, 0.5); /* semi-transparent */
    color: black;
    font-family: 'Anek Bangla', sans-serif;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    overflow-y: auto;
}