.emp-banking-form-grid{
  display: flex;
  width:140%;
  height: auto;
  min-height: 0;
  margin-top:-2px;
margin-left: -70px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

.emp-bank-name-input{
   
  height: 33px;
  color: var(--blue);
  border: 1px solid rgba(0, 96, 136, 0.60);
  padding-left: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Anek Bangla';
}



.emp-bank-name-input:invalid {
  padding-left: 12px;
  
}

.emp-account-name-input,
.emp-branch-name-input,
.emp-accountType-input,
.emp-paymentMethod-input,
.emp-accountHolder-input,
.emp-referenceType-input,
.emp-payFrequency-input,
.emp-payDate-input{
    width: 100%;
  height: 33px;
  color: var(--blue);
  border: 1px solid rgba(0, 96, 136, 0.60);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Anek Bangla';
}

/* Placeholder styling for ALL inputs */
.emp-account-name-input::placeholder,
.emp-branch-name-input::placeholder,
.emp-accountType-input::placeholder,
.emp-paymentMethod-input::placeholder,
.emp-accountHolder-input::placeholder,
.emp-referenceType-input::placeholder,
.emp-payFrequency-input::placeholder,
.emp-payDate-input::placeholder,
.emp-bank-name-input::placeholder {
  color: var(--blue);
  font-family: "Anek Bangla";
  font-size: 16px;
}
.emp-select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* LEFT LINE */
.emp-select-wrapper::before {
  content: "";
  position: absolute;

  left: 10px;
  height: 1px;
  width: 15px;
  background: rgba(154, 154, 154, 0.55);
}

/* RIGHT LINE */
.emp-select-wrapper::after {
  content: "";
  position: absolute;
 left:116px;
  height: 1px;
  width: 15px;
  background: rgba(154, 154, 154, 0.55);
}





/* Hide dd/mm/yyyy text by default */
.emp-payDate-input::-webkit-datetime-edit {
  display: none;
}

/* Show date text when focused OR when a value is selected */
.emp-payDate-input:focus::-webkit-datetime-edit,
.emp-payDate-input:not([value=""])::-webkit-datetime-edit {
  display: block;
}

/* Hide label when focused OR when a value is selected */
.emp-payDate-input:focus ~ .date-label,
.emp-payDate-input:not([value=""]) ~ .date-label {
  display: none;
}


.emp-bank-back-button{

box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 10px 5px;
color: #5C5C5C;
position: absolute;
width: 187px;
height: 47px;
margin-top:150px;
left:100px;
background: rgba(255, 255, 255, 0.7);
opacity: 0.9;
border: 1px solid rgba(112, 112, 112, 0.5);
border-radius: 10px;

}

.emp-next-button{
  position: relative;
  display: flex;
  width: 187px;
  height: 47px;
  top:53px;
  padding: 0 10px 0px 10px;
  justify-content: center;
  align-items: center;
left:220px;


  color: var(--white);
  text-align: center;
  font-family: "Anek Bangla", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;

  border: 1px solid var(--light-grey);
  opacity: 0.9;
  background: var(--primary-color);

  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
 margin-top:48px;
}

.emp-save-button:hover {
  background-color: var(--primary-light);
}

.save-button-icon{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  
}


.emp-bank-save-button {
  position: relative;
  display: flex;
  width: 187px;
  height: 47px;
 top:89px;
  
  justify-content: center;
  align-items: center;
  left:230px;


  color: var(--white);
  text-align: center;
  font-family: "Anek Bangla", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;

  border: 1px solid var(--light-grey);
  opacity: 0.9;
  background: var(--primary-color);

  background-color: var(--primary-color);
  border-radius: 10px;
  display: flex;
  gap: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 85px;
}

.emp-bank-save-button:hover {
  background-color: var(--primary-light);
}

.emp-bank-back-button,
.emp-next-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  
}



.emp-back-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}