.styled-table td {
    border-bottom: none;
    font-size:16px;
}
.styled-table th {
color: white;
background-color: var(--primary-color);
font-size:16px;
}
.styled-table{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color:white;
    font-size:16px;
}
.top-bar h2{
    font-size:40px;
}
.top-bar {
    color:var(--primary-color);
display: flex;
flex-direction: row;
gap:45px;
}
.payslip-card{
  border-radius:10px;
  overflow:hidden;
  background: rgba(53, 88, 103, 0.15);
  border-radius: 10px 10px 10px 10px;
}
.card-title{
display:block;
text-align: left;
padding-left: 24px;
height: 37px;
font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 26px;
letter-spacing: 0.02em;
color: #355867;
min-height: 55px;
}

.search-bar{
  background-color:#4F6E781A;
  border-radius: 8px;
  min-width: 360px;
  height: 56px;
  max-width: 720px;
  margin-top:15px;
}

.search-bar input::placeholder {
color:var(--primary-color);
}

.search-bar input {
font-size:16px;
font-weight: 400;
line-height: 26px;
min-width: 360px;
height: 56px;
border:none;
}
.search-bar input[type="text"]{
    border:none;
    
}

.search-bar svg{

}
.heading {
  background-color:var(--primary-color);
  color:var(--primary-color);
}

.actions-trigger-btn{
background-color:white;
color:var(--primary-color);
border:1px solid #4F6E78;
}
.actions-trigger-btn:hover{
color:white;
background-color:var(--primary-color);
}
/*superuser*/
.role-badge.superuser{
border:1px solid #00608887;
max-width:146px;
cursor: default;
color: var(--COLOUR-Calm-Blue, #006088);
}
.role-badge.normaluser{
cursor: default;
background: #AFBF744D;
border:1px solid #AFBF74;
max-width:146px;
}
.styled-table td{
color:var(--primary-color);
font-weight:500;
}
.filter-btn{
cursor: pointer;
position: relative;
margin-left:auto;

  display: flex;
  padding: 5px 10px; 
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  color: var(--primary-color) ;
  height: 47px;
  width: 113px;

  border-radius: 10px;
  border: 1px solid rgba(79, 110, 120, 0.29);
  opacity: 0.9;
  background: var(--white);

  font-family: "Anek Bangla";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.pagination-container{
    margin-top: auto;
}
