.styled-table{
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 1454px;
height: 802px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
}

.table-ribbon{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 16px 0px 13px;
gap: 10px;

width: 1410px;
height: 55px;

background: rgba(53, 88, 103, 0.15);
border-radius: 10px 10px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* User Profiles */
.ribbon-title{
width: 981px;
height: 37px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 37px;
letter-spacing: 0.02em;

/* color: #355867; */
}
.title{
background-color:var(--primary-color)
}

/* Titles */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 14px;

width: 390px;
height: 63px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 283 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 50px;
gap: 10px;

width: 1461px;
height: 768px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 196 */

width: 1411px;
height: 720px;

background: #FFFFFF;
border-radius: 0px 0px 5px 5px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 68px;
left: 0px;
top: 137px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46708 */

width: 211px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(1, 161, 154, 0.3);
border: 1px solid rgba(1, 161, 154, 0.53);
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* WJA */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #01A19A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 170px;
height: 35px;
left: 41px;
top: 3.5px;



/* Wesley John Armstrong */

width: 150px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46709 */

width: 201px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 68px;
left: 0px;
top: 210px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46710 */

width: 142px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* LG */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #AFBF74;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 101px;
height: 35px;
left: 41px;
top: 3.5px;



/* Lola Gillepsie */

width: 81px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 68px;
left: 0px;
top: 283px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46711 */

width: 235px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(53, 88, 103, 0.3);
border: 1px solid #355867;
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* MCT */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 194px;
height: 35px;
left: 41px;
top: 3.5px;



/* Mckinley Caiden Townsend */

width: 174px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 68px;
left: 0px;
top: 356px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46712 */

width: 235px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(1, 161, 154, 0.3);
border: 1px solid rgba(1, 161, 154, 0.53);
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* WJA */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #01A19A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 194px;
height: 35px;
left: 41px;
top: 3.5px;



/* Kailani Lowe */

width: 174px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Person login */

position: absolute;
width: 318px;
height: 68px;
left: 0px;
top: 64px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46706 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 160px;
height: 42px;
left: 9px;
top: 6px;



/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

width: 41px;
height: 42px;

background: rgba(102, 142, 159, 0.3);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 29.5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SM */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

width: 119px;
height: 35px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sipho Mokoena */

width: 99px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 244 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 59px;
left: 941px;
top: 0px;

background: #355867;


/* Role */

width: 122px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46736 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 68px;
left: 941px;
top: 64px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(0, 96, 136, 0.1);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #006088;


/* Super User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46741 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 68px;
left: 941px;
top: 137px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #638549;


/* Normal User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #638549;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46749 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 68px;
left: 941px;
top: 210px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #638549;


/* Normal User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #638549;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46750 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 68px;
left: 941px;
top: 283px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(0, 96, 136, 0.1);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #006088;


/* Super User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46751 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 68px;
left: 941px;
top: 356px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #638549;


/* Normal User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #638549;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 200 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 59px;
left: 681px;
top: 0px;

background: #355867;


/* Branch */

width: 47px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46579 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 68px;
left: 681px;
top: 64px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Johannesburg */

width: 225px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46670 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 68px;
left: 681px;
top: 137px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Johannesburg */

width: 207px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46672 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 68px;
left: 681px;
top: 283px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Cape Town */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46673 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 68px;
left: 681px;
top: 356px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Cape Town */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 199 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 59px;
left: 318px;
top: 0px;

background: #355867;


/* Email */

width: 39px;
height: 26px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 156 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 68px;
left: 318px;
top: 64px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* siphomokoena@singular.co.za */

width: 194px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46697 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 68px;
left: 318px;
top: 137px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* johnArmstrong@singular.co.za */

width: 198px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46698 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 68px;
left: 318px;
top: 210px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* lolagill@singular.co.za */

width: 149px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46699 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 68px;
left: 318px;
top: 283px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* MckinleyCadTown123@singular.co.za */

width: 252px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46700 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 68px;
left: 318px;
top: 356px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Lowe246@singular.co.za */

width: 191px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 197 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 318px;
height: 59px;
left: 0px;
top: 0px;

background: #355867;


/* User */

width: 75px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 69px;
left: 0px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46713 */

width: 235px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(102, 142, 159, 0.3);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SM */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 194px;
height: 35px;
left: 41px;
top: 3.5px;



/* Stanley Hail */

width: 174px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 46701 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 69px;
left: 318px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* StanleyHail@singular.co.za */

width: 178px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46674 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 69px;
left: 681px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* UK(London) */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46752 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 69px;
left: 941px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(0, 96, 136, 0.1);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #006088;


/* Super User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46671 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 68px;
left: 681px;
top: 210px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Johannesburg */

width: 201px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 69px;
left: 0px;
top: 503px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46708 */

width: 211px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(1, 161, 154, 0.3);
border: 1px solid rgba(1, 161, 154, 0.53);
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* WJA */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #01A19A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 111px;
height: 35px;
left: 41px;
top: 3.5px;



/* Andi Copeland */

width: 91px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46709 */

width: 201px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 69px;
left: 0px;
top: 577px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46710 */

width: 142px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* LG */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #AFBF74;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 98px;
height: 35px;
left: 41px;
top: 3.5px;



/* Jayda Smith */

width: 78px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46711 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 69px;
left: 318px;
top: 503px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* AndiCopeland@singular.co.za */

width: 209px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46712 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 69px;
left: 318px;
top: 577px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* JaydaSmith@singular.co.za */

width: 178px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46713 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 69px;
left: 681px;
top: 577px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* UK(London) */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46714 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 69px;
left: 681px;
top: 503px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Johannesburg */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46753 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 69px;
left: 941px;
top: 503px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(0, 96, 136, 0.1);
border: 1px solid rgba(0, 96, 136, 0.53);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #006088;


/* Super User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #006088;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46754 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 69px;
left: 941px;
top: 577px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #638549;


/* Normal User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #638549;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46719 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 70px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 59px;
left: 1214px;
top: 0px;

background: #355867;


/* Actions */

width: 80px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
text-align: center;
letter-spacing: -0.43px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46720 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 45px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 68px;
left: 1214px;
top: 64px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46721 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 41px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 68px;
left: 1214px;
top: 137px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46722 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 68px;
left: 1214px;
top: 210px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46756 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 68px;
left: 1214px;
top: 283px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46757 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 68px;
left: 1214px;
top: 356px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46758 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 69px;
left: 1214px;
top: 429px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46759 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 69px;
left: 1214px;
top: 503px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46760 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 69px;
left: 1214px;
top: 577px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Person login */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 20px 0px 10px;

position: absolute;
width: 318px;
height: 69px;
left: 0px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46711 */

width: 235px;
height: 42px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Name Icon */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 22px 15px;
gap: 10px;

position: absolute;
width: 41px;
height: 42px;
left: 0px;
top: 0px;

background: rgba(53, 88, 103, 0.3);
border: 1px solid #355867;
border-radius: 29.5px;


/* Frame 192 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 57px;
height: 15px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* MCT */

width: 41px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Person Login */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 194px;
height: 35px;
left: 41px;
top: 3.5px;



/* Katy Lawrence */

width: 174px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 46744 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 363px;
height: 69px;
left: 318px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* katylawrence@singular.co.za */

width: 227px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46745 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 260px;
height: 69px;
left: 681px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* UK(London) */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 46755 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 273px;
height: 69px;
left: 941px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46749 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 10px;

width: 146px;
height: 34px;

background: rgba(175, 191, 116, 0.3);
border: 1px solid #AFBF74;
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/user-lock */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

border: 2px solid #638549;


/* Normal User */

width: 106px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #638549;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 46761 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 10px 37px 10px 10px;
gap: 10px;

position: absolute;
width: 196px;
height: 69px;
left: 1214px;
top: 651px;

background: #FFFFFF;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);


/* Frame 46585 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 5px;

width: 96px;
height: 38px;

border: 1px solid rgba(79, 110, 120, 0.46);
border-radius: 5px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* lucide/ellipsis-vertical */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 45.83%;
right: 45.83%;
top: 16.67%;
bottom: 16.67%;

background: #355867;
border: 1px solid #355867;


/* Actions */

width: 48px;
height: 15px;

font-family: 'Anek Bangla';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 15px;
/* identical to box height, or 94% */
letter-spacing: -0.43px;

color: #355867;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
