.divider {
  border: none;
  border-bottom: 1px solid;
  border-color: rgba(154, 154, 154, 0.55);
  margin-bottom: 16px;
  margin-top: 2px;
  padding: 0;
}

.divier-dashed {
  border-top-style: dashed;
}
